@import "core/reset.css";
@import "elements/site-logo.css";

.wrapper {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 20px;
}

.wrapper > * {
  grid-column: col-start / span 12;
}

header {
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

date {
  padding-left: 1rem;
  padding-right: 1rem;
  /* font-size: 14px; */
  color: #9e9e9e;
}

h1 {
  font-weight: bold;
}

.content {
  border-bottom: 1px solid#9e9e9e;
  padding-bottom: 1rem;
}
.is-flex {
  display: flex !important;
}

.capsule--black {
  padding: 5px;
  margin: 2em auto;
  border-radius: 20%/50%;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
.capsule--plain {
  padding: 5px;
  margin: 2em auto;
  border-radius: 20%/50%;
  border: 1px solid #000;
  color: #000;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.comments-head {
  grid-column: col-start / span 12;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
}
/* .comments-head--nav {
  /* border: 1px solid #000000; 
} */
.content {
  grid-column: col-start / span 12;
  /* grid-row: 2 / 4; */
}
@media (min-width: 700px) {
  .comments-head {
    grid-column: col-start 3 / span 6;
    grid-row: 1;
  }

  .content {
    grid-column: col-start 3 / span 6;
    /* grid-row: 2 / 4; */
  }
}
